// Login page styles

@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";

.header {
    text-align: center;
  }
  
.ninja-logo {
    display: top;
    margin-left: auto;
    margin-right:auto;
    width: fixed;
    fill: currentColor;
  }

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
  }
  
  .button-container button {
    margin: 3px;
  }

